{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-restricted-syntax": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "rules": {
        "func-names": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
